<!DOCTYPE html>
<html lang="en">
<head>
  <title>Comming Soon</title>
  {{>fileLinks}}
</head>
<body>
  {{>header}}
  <section id="comming-soon">
    <h1>Comming Soon...!</h1>
    <button onclick ="location.href='/'" class="btn">Go Back</button>
  </section>

</body>
</html>